<div class="example-container">
    <mat-toolbar class="example-toolbar" >
        <mat-toolbar-row class="mat-toolbar-row">
       <!-- <button matTooltip="Info about the action" sty></button> -->
      <img (click)="goToDomains()" class="logo" style="width: 40; margin-left: 0%;" src="assets/logotree.png" >
      <h1 (click)="goToDomains()" class="example-app-name logo">JOURNEY FORGE</h1>
        </mat-toolbar-row>
    </mat-toolbar>
</div>

<!--
        <h1 class="example-app-name">JourneyForge</h1>
        <h2 class="example-app-name">Journey Client</h2>
         <button style="position: absolute; right: 250px; background-color:#673ab7;" mat-icon-button
            [matMenuTriggerFor]="menu">
             <img class="userpic" mat-card-avatar src={{userPicture}} /> {{userName}} -->
        <!-- </button> -->



    <!-- <mat-menu #menu="matMenu"> -->
        <!-- <button mat-menu-item>
            <span>Edit Profile</span>
        </button> -->
        <!-- <button mat-menu-item>
            <span>Log Out </span>
            <mat-icon>exit_to_app</mat-icon>
        </button> -->
    <!-- </mat-menu> -->


