.main{
 
 justify-content: flex-start;
  margin-left:80px;
  /*justify-content:space-between;*/
 display: flex;
  margin-bottom: -70px;

}
.like-icon
{

  padding: 10px;
  /*flex-basis: 1px;*/
  color: #6600ff;
visibility: visible;
  transition: transform .2s;
}
.like-icon:hover {
  transform: scale(1.2); /* (150% zoom)*/
  color:#673ab7;
}
.share-icon
{
  transition: transform .2s;
  padding: 10px;
  color:#6600ff;
 /* flex-basis: 1px;*/
}
.share-icon:hover {
  transform: scale(1.2);
  color: #673ab7;
  /* (150% zoom)*/
}
.share-icon{
  cursor: pointer;
}