 <div class="graphstyle">
      <ngx-graph [layout]="layout"
      class="chart-container" [links]="hierarchialGraph.links" [nodes]="hierarchialGraph.nodes"
         [draggingEnabled]="true" [panningEnabled]="true" [autoZoom]="true" [zoomSpeed]="0.1"
         [update$]="update$" [zoomToFit$]="zoomToFit$" xmlns:svg>

        <ng-template #defsTemplate>

            <svg:marker id="arrow" viewBox="0 -5 10 10" refX="8" refY="0" markerWidth="7" markerHeight="5.2" orient="auto">
              <svg:path d="M0,-5L10,0L0,5" class="arrow-head" />
            </svg:marker>
          </ng-template>

          <ng-template #nodeTemplate let-node>
            <svg:g  (click)="seeDetails(node)" >
              <svg:rect [attr.rx]="10" [attr.ry]="10"   [attr.width]="node.dimension.width * 1.2" [attr.height]="node.dimension.height" [attr.fill]="node.data.customColor"/>
              <svg:text [attr.fill]="node.data.fontColor" [attr.text-anchor]="node.posi.center"  [attr.x]="node.dimension.width/1.8" [attr.y]="node.dimension.height/1.6">{{node.label}}</svg:text>
            </svg:g>  
          </ng-template>

          <ng-template #linkTemplate let-link>
            <svg:g class="edge">
              <svg:path
                class="line"
                stroke-width="2"
                marker-end="url(#arrow)" >
              </svg:path>
            </svg:g>
          </ng-template>

      </ngx-graph>

    </div>

